html {
  background: #000;
}

body {
  color: #fff;
  font-family: monospace;
  padding: 2rem;
}

p, pre {
  padding: 1rem;
  margin: 0;
}

a {
  color: palevioletred;
}

nav a {
  margin-right: 1rem;
}

input,
select {
  display: block;
  margin: 1rem 0;
}

.error {
  color: rgb(255, 59, 59);
}